[submodule "dpdk"]
	path = dpdk
	url = https://github.com/scylladb/dpdk.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/scylladb/fmt.git
[submodule "c-ares"]
	path = c-ares
	url = https://github.com/scylladb/c-ares.git
