name: Pre-commit

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: pre-commit/action@v3.0.1
      - name: Show diff of fixes ($ at EOL)
        if: failure()
        # trailing whitespace is hard to see, so add $
        # to the end of diff lines
        run: git diff | sed '/^[+-]/s/$/$/'
